---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="card bg-white rounded-md bg-astro-gradient bg-400 bg-[100%] transition-all duration-700 ease-astro hover:bg-[0]">
	<a href={href} class="card-body text-black">
		<h2 class="card-title transition-colors duration-700 ease-astro hover:text-astro-purple">
			{title}
		</h2>
		<p class="mt-2 mb-0 text-gray-800">
			{body}
		</p>
	</a>
</li>