---
export interface Props {
	href: string;
	title: string;
}

const { title, href } = Astro.props;
---

<li class="card card-compact bg-white rounded-lg shadow-md transition-all ease-astro duration-300 hover:scale-105">
	<a href={href} class="card-body text-black">
		<div class="card-actions justify-end">
			<span class="text-gray-400">
				<slot name="icon"/>			  
			</span>
		</div>
		<h2 class="card-title mt-14 whitespace-pre-line">
			{title}
		</h2>
	</a>
</li>