---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="OCBC ATM">
    Transfer page
    <button class="btn btn-success btn-sm">
        <a href="/transfer/confirm">Confirm</a>
    </button>
</Layout>